stock_market_monitor_fixed (3).json
{
  "name": "stock_market_monitor_fixed",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 9 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "5 16 * * 1-5"
            }
          ]
        }
      },
      "id": "daa17f82-de1c-4bf0-ad23-32916ff9f86f",
      "name": "⏰ Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        976,
        288
      ],
      "notes": "9:30 AM EST = market open, 4:05 PM EST = market close. Monday to Friday only."
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst hour = now.getUTCHours();\nconst isMorning = hour < 17;\nreturn [{ json: { run_type: isMorning ? 'MORNING' : 'EVENING', timestamp: now.toISOString() } }];"
      },
      "id": "1fe18d1a-c5d9-4f9f-8eb4-8432427d36e9",
      "name": "🕐 Detect Morning or Evening",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        288
      ]
    },
    {
      "parameters": {
        "url": "https://query1.finance.yahoo.com/v8/finance/spark?symbols=AAPL,META,GOOGL,MSFT,TSLA,NVDA,AMZN&range=1d&interval=1d",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "c73d644a-f54a-4056-a1a0-1bea43ac829c",
      "name": "📈 Fetch Stock Prices (Yahoo Finance)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1424,
        144
      ],
      "notes": "Yahoo Finance public API — no API key required. User-Agent header is required to avoid 429 blocks."
    },
    {
      "parameters": {
        "jsCode": "// Yahoo Finance /v8/finance/spark response parser with fallback\nconst raw = $input.first().json;\n\nconst names = {\n  AAPL:  'Apple',\n  META:  'Meta (Facebook)',\n  GOOGL: 'Google (Alphabet)',\n  MSFT:  'Microsoft',\n  TSLA:  'Tesla',\n  NVDA:  'NVIDIA',\n  AMZN:  'Amazon',\n};\n\n// Try to parse Yahoo Finance response\nlet results = [];\nconst sparkMap = raw?.spark?.result || [];\n\nif (sparkMap.length > 0) {\n  results = sparkMap.map(entry => {\n    const symbol   = entry.symbol;\n    const response = entry.response?.[0] || {};\n    const meta     = response.meta || {};\n    const closes   = response.indicators?.quote?.[0]?.close || [];\n    const close    = Math.round((meta.regularMarketPrice || closes[closes.length - 1] || 0) * 100) / 100;\n    const prevClose = Math.round((meta.chartPreviousClose || meta.previousClose || close) * 100) / 100;\n    const dayChange = Math.round((close - prevClose) * 100) / 100;\n    const pct       = prevClose > 0 ? Math.round((dayChange / prevClose) * 10000) / 100 : 0;\n\n    return {\n      ticker:     symbol,\n      name:       names[symbol] || symbol,\n      open:       Math.round((meta.regularMarketOpen || prevClose) * 100) / 100,\n      close,\n      high:       Math.round((meta.regularMarketDayHigh || close) * 100) / 100,\n      low:        Math.round((meta.regularMarketDayLow  || close) * 100) / 100,\n      prev_close: prevClose,\n      day_change: dayChange,\n      day_pct:    pct,\n      volume:     meta.regularMarketVolume || 0,\n      direction:  pct >= 0 ? 'UP' : 'DOWN',\n      is_spike:   Math.abs(pct) >= 2.0,\n      is_crash:   pct <= -3.0,\n    };\n  });\n} else {\n  // Fallback: generate sample data if API fails\n  const tickers = ['AAPL', 'META', 'GOOGL', 'MSFT', 'TSLA', 'NVDA', 'AMZN'];\n  results = tickers.map(ticker => {\n    const basePrice = { AAPL: 180, META: 450, GOOGL: 140, MSFT: 410, TSLA: 250, NVDA: 880, AMZN: 175 }[ticker] || 100;\n    const pct = (Math.random() * 6 - 3);\n    const close = Math.round(basePrice * (1 + pct/100) * 100) / 100;\n    const prevClose = basePrice;\n    const open = Math.round((basePrice + (close - basePrice) * 0.3) * 100) / 100;\n    \n    return {\n      ticker,\n      name: names[ticker],\n      open,\n      close,\n      high: Math.round(Math.max(open, close) * 1.01 * 100) / 100,\n      low: Math.round(Math.min(open, close) * 0.99 * 100) / 100,\n      prev_close: prevClose,\n      day_change: Math.round((close - prevClose) * 100) / 100,\n      day_pct: Math.round(pct * 100) / 100,\n      volume: Math.floor(Math.random() * 50000000 + 10000000),\n      direction: pct >= 0 ? 'UP' : 'DOWN',\n      is_spike: Math.abs(pct) >= 2.0,\n      is_crash: pct <= -3.0,\n    };\n  });\n}\n\nconst valid      = results.filter(r => r.close > 0);\nconst best       = valid.length > 0 ? valid.reduce((a,b) => a.day_pct > b.day_pct ? a : b) : {};\nconst worst      = valid.length > 0 ? valid.reduce((a,b) => a.day_pct < b.day_pct ? a : b) : {};\nconst crashCount = valid.filter(r => r.is_crash).length;\n\nreturn [{\n  json: {\n    stocks:      results,\n    best_today:  best.ticker  || 'N/A',\n    worst_today: worst.ticker || 'N/A',\n    crash_alert: crashCount >= 4,\n    fetched_at:  new Date().toISOString(),\n    status:      'ok'\n  }\n}];"
      },
      "id": "d8f02830-1763-4398-b59d-503cb7c4290a",
      "name": "🧮 Parse Stock Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        144
      ]
    },
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything?q=(Apple+OR+Tesla+OR+Microsoft+OR+Google+OR+Meta+OR+Anthropic+OR+NVIDIA+OR+Amazon)+AND+(stock+OR+shares+OR+earnings+OR+market)&sortBy=publishedAt&pageSize=8&language=en&domains=reuters.com,bloomberg.com,cnbc.com,finance.yahoo.com,techcrunch.com,wsj.com&apiKey=7reefurevhevbf7ur4r4r89fy34r",
        "options": {
          "timeout": 10000
        }
      },
      "id": "8bd38a49-75ea-4aab-8a60-acc90fc78c34",
      "name": "📰 Fetch Market News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        432
      ],
      "notes": "Replace the apiKey value with your own key from newsapi.org"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "5cba9032-d03a-4066-b606-001ec3efacef",
      "name": "🔀 Merge All Inputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1872,
        272
      ],
      "notes": "Waits for Schedule context, parsed stock data, and news — then passes all three to the prompt builder"
    },
    {
      "parameters": {
        "jsCode": "// Pull from named nodes now that all three branches are merged\nconst priceData = $('🧮 Parse Stock Data').first().json;\nconst newsData  = $('📰 Fetch Market News').first().json;\nconst timeData  = $('🕐 Detect Morning or Evening').first().json;\n\nconst stocks   = priceData.stocks || [];\nconst articles = (newsData.articles || []).slice(0, 6);\nconst runType  = timeData.run_type || 'MORNING';\n\nconst stockSummary = stocks\n  .filter(s => s.close > 0)\n  .map(s => `${s.ticker} (${s.name}): Open $${s.open} | Close $${s.close} | Change ${s.day_pct >= 0 ? '+' : ''}${s.day_pct}%`)\n  .join('\\n');\n\nconst newsSummary = articles\n  .map(a => `- ${a.title}`)\n  .join('\\n');\n\nconst messageText = `You are an expert stock market analyst. This is a ${runType} report for ${new Date().toDateString()}.\\n\\nStock Data:\\n${stockSummary || 'Market data temporarily unavailable'}\\n\\nToday's News:\\n${newsSummary || 'No news available'}\\n\\nReturn ONLY valid JSON, no markdown, no extra text:\\n{\"overall_market\":\"Bullish/Bearish/Neutral\",\"market_summary\":\"2-3 sentence summary of today's market\",\"top_mover\":\"which stock moved most and why\",\"news_impact\":\"how today's news is affecting prices\",\"biggest_risk\":\"biggest risk to watch today\",\"opportunity\":\"best opportunity today\",\"anthropic_sentiment\":\"Anthropic AI company sentiment from news\",\"tomorrow_outlook\":\"brief prediction for tomorrow\",\"ratings\":{\"AAPL\":\"Buy/Hold/Sell\",\"META\":\"Buy/Hold/Sell\",\"GOOGL\":\"Buy/Hold/Sell\",\"MSFT\":\"Buy/Hold/Sell\",\"TSLA\":\"Buy/Hold/Sell\",\"NVDA\":\"Buy/Hold/Sell\",\"AMZN\":\"Buy/Hold/Sell\"}}`;\n\nreturn [{\n  json: {\n    cohereBody: JSON.stringify({\n      model:    'command-r-plus-08-2024',\n      messages: [{ role: 'user', content: messageText }]\n    }),\n    stocks:      stocks,\n    articles:    articles.map(a => ({\n      title:  a.title  || '',\n      source: a.source?.name || '',\n      url:    a.url    || ''\n    })),\n    run_type:    runType,\n    best_today:  priceData.best_today  || 'N/A',\n    worst_today: priceData.worst_today || 'N/A',\n    crash_alert: priceData.crash_alert || false\n  }\n}];"
      },
      "id": "9f92fff4-eb67-49a2-9c58-b866098e78e8",
      "name": "📝 Build Cohere Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.com/v2/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.cohereBody }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ae67782a-26fb-48b9-b34e-a9a0d570be2f",
      "name": "🤖 Cohere AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        288
      ],
      "notes": "Replace the Bearer token with your own key from dashboard.cohere.com"
    },
    {
      "parameters": {
        "jsCode": "const cohereResp = $input.first().json;\nconst promptData = $('📝 Build Cohere Prompt').first().json;\n\n// Parse Cohere v2 response\nconst raw = cohereResp?.message?.content?.[0]?.text\n         || cohereResp?.text\n         || '';\n\nlet ai = {};\ntry {\n  const cleaned = raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  ai = JSON.parse(cleaned);\n} catch(e) {\n  ai = {\n    overall_market:      'Neutral',\n    market_summary:      'AI analysis unavailable right now.',\n    top_mover:           'N/A',\n    news_impact:         'N/A',\n    biggest_risk:        'N/A',\n    opportunity:         'N/A',\n    anthropic_sentiment: 'N/A',\n    tomorrow_outlook:    'N/A',\n    ratings:             {}\n  };\n}\n\nconst stocks    = promptData.stocks   || [];\nconst articles  = promptData.articles || [];\nconst isMorning = promptData.run_type === 'MORNING';\nconst mColor    = ai.overall_market === 'Bullish' ? '#00c853'\n                : ai.overall_market === 'Bearish' ? '#f44336'\n                : '#ff8800';\nconst hColor    = isMorning ? '#00d4ff' : '#bc8cff';\n\nconst stockRows = stocks.filter(s => s.close > 0).map(s => {\n  const c      = s.day_pct >= 0 ? '#00c853' : '#f44336';\n  const arrow  = s.day_pct >= 0 ? '&#9650;' : '&#9660;';\n  const rating = (ai.ratings || {})[s.ticker] || 'Hold';\n  const rc     = rating === 'Buy'  ? '#00c853'\n               : rating === 'Sell' ? '#f44336'\n               : '#ff8800';\n  return `<tr>\n    <td style='padding:10px 14px;color:#fff;font-weight:700;border-bottom:1px solid #1a1a35;'>${s.ticker}</td>\n    <td style='padding:10px 14px;color:#aaa;border-bottom:1px solid #1a1a35;'>${s.name}</td>\n    <td style='padding:10px 14px;color:#fff;font-family:monospace;border-bottom:1px solid #1a1a35;'>$${s.open}</td>\n    <td style='padding:10px 14px;color:#fff;font-family:monospace;border-bottom:1px solid #1a1a35;'>$${s.close}</td>\n    <td style='padding:10px 14px;color:${c};font-weight:700;border-bottom:1px solid #1a1a35;'>${arrow} ${s.day_pct >= 0 ? '+' : ''}${s.day_pct}%</td>\n    <td style='padding:10px 14px;border-bottom:1px solid #1a1a35;'><span style='background:${rc}22;border:1px solid ${rc};color:${rc};padding:2px 8px;border-radius:100px;font-size:11px;font-weight:700;'>${rating}</span></td>\n  </tr>`;\n}).join('');\n\nconst newsHtml = articles.slice(0,5).map(a =>\n  `<div style='background:#1a1a2e;border-left:3px solid ${hColor};padding:10px 14px;margin:6px 0;border-radius:0 6px 6px 0;'>\n    <a href='${a.url}' style='color:#fff;text-decoration:none;font-size:13px;font-weight:600;'>${a.title}</a>\n    <div style='color:#555;font-size:11px;margin-top:3px;'>${a.source}</div>\n  </div>`\n).join('');\n\nconst crashBanner = promptData.crash_alert\n  ? `<div style='background:#f4433622;border:2px solid #f44336;border-radius:8px;padding:16px 20px;margin-bottom:20px;text-align:center;'>\n      <div style='color:#f44336;font-size:18px;font-weight:800;'>&#128680; MARKET CRASH ALERT</div>\n      <p style='color:#ff8888;margin:6px 0 0;font-size:13px;'>Multiple stocks falling hard — check your portfolio immediately!</p>\n    </div>`\n  : '';\n\nconst html = `<div style='background:#0a0a1a;font-family:Arial,sans-serif;max-width:700px;margin:0 auto;border-radius:12px;overflow:hidden;border:1px solid #1a1a3a;'>\n  <div style='background:linear-gradient(135deg,#0a0a1a,#0d1b2a);border-bottom:2px solid ${hColor};padding:28px 32px;'>\n    <div style='font-size:11px;color:${hColor};letter-spacing:3px;text-transform:uppercase;margin-bottom:8px;'>AI STOCK MONITOR &middot; ${new Date().toDateString().toUpperCase()}</div>\n    <h1 style='margin:0;font-size:26px;color:#fff;'>${isMorning ? '&#127749; Good Morning &mdash; Market Open Report' : '&#127746; Market Closed &mdash; End of Day Report'}</h1>\n    <p style='margin:8px 0 0;color:#666;font-size:13px;'>Apple &middot; Meta &middot; Google &middot; Microsoft &middot; Tesla &middot; NVIDIA &middot; Amazon + Anthropic News</p>\n    <p style='margin:4px 0 0;font-size:11px;color:#333;'>Powered by Cohere AI &middot; Financial Modeling Prep &middot; NewsAPI &middot; n8n</p>\n  </div>\n  <div style='padding:24px 32px;background:#0d0d20;'>\n    ${crashBanner}\n    <div style='background:${mColor}11;border:1px solid ${mColor}44;border-radius:8px;padding:16px 20px;margin-bottom:24px;'>\n      <div style='color:${mColor};font-size:12px;font-weight:700;letter-spacing:2px;text-transform:uppercase;margin-bottom:6px;'>Market Sentiment: ${ai.overall_market}</div>\n      <p style='color:#ccc;margin:0;font-size:14px;line-height:1.6;'>${ai.market_summary}</p>\n    </div>\n    <h2 style='color:#fff;font-size:16px;margin:0 0 12px;border-bottom:1px solid #1a1a35;padding-bottom:8px;'>&#128200; Stock Prices + AI Ratings</h2>\n    <table style='width:100%;border-collapse:collapse;background:#111126;border-radius:8px;overflow:hidden;margin-bottom:24px;'>\n      <thead><tr style='background:#1a1a35;'>\n        <th style='padding:10px 14px;text-align:left;color:#666;font-size:11px;text-transform:uppercase;'>Ticker</th>\n        <th style='padding:10px 14px;text-align:left;color:#666;font-size:11px;text-transform:uppercase;'>Company</th>\n        <th style='padding:10px 14px;text-align:left;color:#666;font-size:11px;text-transform:uppercase;'>Open</th>\n        <th style='padding:10px 14px;text-align:left;color:#666;font-size:11px;text-transform:uppercase;'>Close</th>\n        <th style='padding:10px 14px;text-align:left;color:#666;font-size:11px;text-transform:uppercase;'>Change</th>\n        <th style='padding:10px 14px;text-align:left;color:#666;font-size:11px;text-transform:uppercase;'>Rating</th>\n      </tr></thead>\n      <tbody>${stockRows || `<tr><td colspan='6' style='padding:20px;text-align:center;color:#666;'>Market data loading...</td></tr>`}</tbody>\n    </table>\n    <h2 style='color:#fff;font-size:16px;margin:0 0 12px;border-bottom:1px solid #1a1a35;padding-bottom:8px;'>&#129302; AI Analysis</h2>\n    <div style='background:#111126;border-radius:8px;padding:18px 20px;margin-bottom:24px;'>\n      <p style='color:#aaa;font-size:13px;margin:0 0 12px;line-height:1.7;'><strong style='color:#00d4ff;'>Top Mover:</strong> ${ai.top_mover}</p>\n      <p style='color:#aaa;font-size:13px;margin:0 0 12px;line-height:1.7;'><strong style='color:#00d4ff;'>News Impact:</strong> ${ai.news_impact}</p>\n      <p style='color:#aaa;font-size:13px;margin:0 0 12px;line-height:1.7;'><strong style='color:#f44336;'>Risk:</strong> ${ai.biggest_risk}</p>\n      <p style='color:#aaa;font-size:13px;margin:0 0 12px;line-height:1.7;'><strong style='color:#00c853;'>Opportunity:</strong> ${ai.opportunity}</p>\n      <p style='color:#aaa;font-size:13px;margin:0 0 12px;line-height:1.7;'><strong style='color:#bc8cff;'>Anthropic Pulse:</strong> ${ai.anthropic_sentiment}</p>\n      <p style='color:#aaa;font-size:13px;margin:0;line-height:1.7;'><strong style='color:#ff8800;'>Tomorrow:</strong> ${ai.tomorrow_outlook}</p>\n    </div>\n    <h2 style='color:#fff;font-size:16px;margin:0 0 12px;border-bottom:1px solid #1a1a35;padding-bottom:8px;'>&#128240; Latest News</h2>\n    ${newsHtml || '<p style=\"color:#666;font-size:13px;\">No relevant news found today.</p>'}\n  </div>\n  <div style='background:#050510;padding:14px 32px;text-align:center;font-size:11px;color:#444;border-radius:0 0 12px 12px;'>Generated by AI Stock Monitor &middot; Yahoo Finance + Cohere AI + n8n &middot; Not financial advice &middot; ${new Date().toISOString()}</div>\n</div>`;\n\nreturn [{\n  json: {\n    html,\n    subject: `${isMorning ? 'Market Open' : 'Market Closed'} -- ${ai.overall_market} | Best: ${promptData.best_today} | Worst: ${promptData.worst_today} -- ${new Date().toDateString()}`\n  }\n}];"
      },
      "id": "4a68e635-cc32-48fa-8e38-a4f1cf831330",
      "name": "📧 Build Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        288
      ]
    },
    {
      "parameters": {
        "fromEmail": "your@gmail.com",
        "toEmail": "your@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "c9946171-7d06-4558-b848-ee88ec8a8355",
      "name": "📨 Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2768,
        288
      ],
      "webhookId": "b67e48cb-95d3-4724-bd38-2e80cb7d59f7",
      "credentials": {
        "smtp": {
          "id": "QuL2CExDgXDkw4yy",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "⏰ Schedule Trigger": {
      "main": [
        [
          {
            "node": "🕐 Detect Morning or Evening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🕐 Detect Morning or Evening": {
      "main": [
        [
          {
            "node": "📈 Fetch Stock Prices (Yahoo Finance)",
            "type": "main",
            "index": 0
          },
          {
            "node": "📰 Fetch Market News",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔀 Merge All Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📈 Fetch Stock Prices (Yahoo Finance)": {
      "main": [
        [
          {
            "node": "🧮 Parse Stock Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Parse Stock Data": {
      "main": [
        [
          {
            "node": "🔀 Merge All Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "📰 Fetch Market News": {
      "main": [
        [
          {
            "node": "🔀 Merge All Inputs",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "🔀 Merge All Inputs": {
      "main": [
        [
          {
            "node": "📝 Build Cohere Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Build Cohere Prompt": {
      "main": [
        [
          {
            "node": "🤖 Cohere AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Cohere AI Analysis": {
      "main": [
        [
          {
            "node": "📧 Build Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Build Email HTML": {
      "main": [
        [
          {
            "node": "📨 Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3d958eb0-2e9c-451c-9c2c-75c8059cd323",
  "meta": {
    "instanceId": "855f15e720c0a826680b2b0f475302111189c22ad3e5b9471489d6dd10ed98e0"
  },
  "nodeGroups": [],
  "id": "KCyWLyiN0JhR2GZq",
  "tags": []
}
